@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: IRANSansXFaNum;
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
	src: url(./_fonts/IRANSansXFaNum-Regular.woff2);
}

@font-face {
	font-family: IRANSansXFaNum;
	font-weight: 600;
	font-style: normal;
	font-display: fallback;
	src: url(./_fonts/IRANSansXFaNum-DemiBold.woff2);
}

@font-face {
	font-family: IRANSansXFaNum;
	font-weight: 100;
	font-style: normal;
	font-display: fallback;
	src: url(./_fonts/IRANSansXFaNum-UltraLight.woff2);
}
:root {
	--primary: #ff6d00;
	--primary-op: #ff6f002d;
	--secondary: #3c096c;
}
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-op);
}

* {
	@apply font-["IRANSansXFaNum"] duration-300;
}

input {
	@apply focus:outline-none focus-visible:outline-none focus:placeholder:text-transparent;
}

.animate-color-text {
	background: linear-gradient(
		to right,
		var(--primary) 20%,
		#f7435e 40%,
		#d870a9 80%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	background-size: 200% auto;
	animation: textShine 2s ease-in-out infinite alternate;
}
@keyframes textShine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	color: #fff;
	padding: 20px;
}
.swiper-button-disabled{
	opacity: 0.1;
}